p{
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
      }
body{
  margin: 0px;
  padding-left: 78px;
  padding-top:63px;
  padding-right: 24px;
  background-color: rgb(244, 244, 244);
  padding-bottom: 100px;
}